/* These are to style the initial boxes and the button on the screen. */
.box {
    width: 100px;
    height: 100px;
    outline: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    caret-color: transparent;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background-color: white;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: transform 0.5s ease-out;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; 
    top: 30px;
}

.button {
    width: 150px;
    height: 50px;
    margin-top: 45px;
    background-color: green;
    transition: opacity 105ms ease-out;
}

/* These are to style and handle the starting animation when the button is first clicked.*/
.color-change {
    outline: 5px solid darkred;
}

@keyframes move-up {
    100% {
        transform: translate(0, -250px);
    }
}

.move-up {
    animation: move-up 0.4s forwards ease-out;
}

.button-fade {
    opacity: 0;
}


/* These are to style and handle the animation for the divide stage of the Merge Sort animation.*/
.box-clone {
    width: 100px;
    height: 100px;
    outline: 5px solid darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    caret-color: transparent;
    border-radius: 5px;
    transition: all 0.5s ease-out;
    background-color: white;
}

.merge-sort-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    transition: all 0.5s ease-out;
    position: absolute; /* Ensure absolute positioning */
    top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.merge-sort-container.left {
    animation: move-left 0.5s forwards ease-out;
    margin-left: 20px;
    margin-right: 20px;
}

.merge-sort-container.right {
    animation: move-right 0.5s forwards ease-out;
    margin-left: 20px;
    margin-right: 20px;
}

.merge-sort-container.initial {
    position: relative;
}

@keyframes move-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-60% - 150px)) translateY(150px); /* Adjust translation values */
    }
}

@keyframes move-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(60% + 150px)) translateY(150px); /* Adjust translation values */
    }
}






