/* These are to style the initial boxes and the button on the screen. */
.box {
    width: 100px;
    height: 100px;
    outline: 5px solid black;
    display: inline-block;
    text-align: center;
    caret-color: transparent;
    border-radius: 5px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 150px;
    height: 50px;
    margin-top: 45px;
    background-color: green;
}
  
.color-change {
    outline: 5px solid darkred;
}

@keyframes move-up {
    100% {
        transform: translate(0, -300px);
    }
}

.move-up {
    animation: move-up 0.4s forwards ease-out;
}

/*Try to ease out the move up*/